body {
background: linear-gradient(45deg, crimson, blue);
background-size: cover;
background-repeat: no-repeat;
}

i {
font-family: monospace;
font-size: 2.2rem;
}

h1 {
font-family: courier;
font-size: 4.4rem;
}

option {
font-family: cursive;
}

img {
  height: 150px;
  width: 200px;
}

label {
  size: big;
  font-family: cursive;
}

.w3-text-green {
  size: big;
  font-family: cursive;
}
